[build]
  command = "pnpm build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  NEXT_TELEMETRY_DISABLED = "1"
  PNPM_SKIP_BUILD_CHECKS = "true"

[[plugins]]
  package = "@netlify/plugin-nextjs"
